Repository uxlfoundation/oneMath, changes with the owners that .github/CODEOWNERS names for each.
All owners: @oneapi-src/onemkl-arch-write, @oneapi-src/onemkl-blas-write, @oneapi-src/onemkl-dft-write, @oneapi-src/onemkl-lapack-write, @oneapi-src/onemkl-rng-write, @oneapi-src/onemkl-sparse-write

.github/CODEOWNERS:

# Arch files
/.github/ @oneapi-src/onemkl-arch-write
/.gitignore/ @oneapi-src/onemkl-arch-write
/cmake/ @oneapi-src/onemkl-arch-write
/deps/ @oneapi-src/onemkl-arch-write
/docs/ @oneapi-src/onemkl-arch-write
/examples/include/ @oneapi-src/onemkl-arch-write
/examples/CMakeList.txt @oneapi-src/onemkl-arch-write
/examples/README.md @oneapi-src/onemkl-arch-write
/include/oneapi/mkl.hpp @oneapi-src/onemkl-arch-write
/include/oneapi/mkl/detail/ @oneapi-src/onemkl-arch-write
/include/oneapi/mkl/exceptions.hpp @oneapi-src/onemkl-arch-write
/scripts/ @oneapi-src/onemkl-arch-write
/src/include/ @oneapi-src/onemkl-arch-write
/src/CMakeLists.txt @oneapi-src/onemkl-arch-write
/src/config.hpp.in @oneapi-src/onemkl-arch-write
/tests/CMakeLists.txt @oneapi-src/onemkl-arch-write
/tests/README.md @oneapi-src/onemkl-arch-write
/tests/unit_tests/include/ @oneapi-src/onemkl-arch-write
/tests/unit_tests/CMakeLists.txt @oneapi-src/onemkl-arch-write
/tests/unit_tests/main_test.cpp @oneapi-src/onemkl-arch-write
/third-party-programs/ @oneapi-src/onemkl-arch-write
/CMakeLists.txt @oneapi-src/onemkl-arch-write
/CODE_OF_CONDUCT.md @oneapi-src/onemkl-arch-write
/CONTRIBUTING.md @oneapi-src/onemkl-arch-write
/LICENSE @oneapi-src/onemkl-arch-write
/MAINTAINERS.md @oneapi-src/onemkl-arch-write
/README.md @oneapi-src/onemkl-arch-write
/SECURITY.md @oneapi-src/onemkl-arch-write
/_clang-format @oneapi-src/onemkl-arch-write
/legal_information.md @oneapi-src/onemkl-arch-write

# BLAS files
/examples/blas/ @oneapi-src/onemkl-blas-write
/include/oneapi/mkl/blas/ @oneapi-src/onemkl-blas-write
/include/oneapi/mkl/blas.hxx @oneapi-src/onemkl-blas-write
/include/oneapi/mkl/blas.hpp @oneapi-src/onemkl-blas-write
/include/oneapi/mkl/bfloat16.hpp @oneapi-src/onemkl-blas-write
/src/blas/ @oneapi-src/onemkl-blas-write
/tests/unit_tests/blas/ @oneapi-src/onemkl-blas-write

# DFT files
/examples/dft/ @oneapi-src/onemkl-dft-write
/include/oneapi/mkl/dft/ @oneapi-src/onemkl-dft-write
/include/oneapi/mkl/dft.hpp @oneapi-src/onemkl-dft-write
/src/dft/ @oneapi-src/onemkl-dft-write
/tests/unit_tests/dft/ @oneapi-src/onemkl-dft-write

# LAPACK files
/examples/lapack/ @oneapi-src/onemkl-lapack-write
/include/oneapi/mkl/lapack/ @oneapi-src/onemkl-lapack-write
/include/oneapi/mkl/lapack.hpp @oneapi-src/onemkl-lapack-write
/src/lapack/ @oneapi-src/onemkl-lapack-write
/tests/unit_tests/lapack/ @oneapi-src/onemkl-lapack-write

# RNG files
/examples/rng/ @oneapi-src/onemkl-rng-write
/include/oneapi/mkl/rng/ @oneapi-src/onemkl-rng-write
/include/oneapi/mkl/rng.hpp @oneapi-src/onemkl-rng-write
/src/rng/ @oneapi-src/onemkl-rng-write
/tests/unit_tests/rng/ @oneapi-src/onemkl-rng-write

# Sparse BLAS files
/examples/sparse_blas/ @oneapi-src/onemkl-sparse-write
/include/oneapi/mkl/sparse_blas/ @oneapi-src/onemkl-sparse-write
/include/oneapi/mkl/sparse_blas.hpp @oneapi-src/onemkl-sparse-write
/src/sparse_blas/ @oneapi-src/onemkl-sparse-write
/tests/unit_tests/sparse_blas/ @oneapi-src/onemkl-sparse-write

# Shared files
/include/oneapi/mkl/types.hpp @oneapi-src/onemkl-blas-write @oneapi-src/onemkl-lapack-write

Fix CT example return value and expected result
  examples/sparse_blas/compile_time_dispatching/sparse_blas_spmv_usm_mklcpu_cusparse.cpp
Owners: @oneapi-src/onemkl-sparse-write

Update example README output
  examples/README.md
Owners: @oneapi-src/onemkl-arch-write

clang-format
  tests/unit_tests/sparse_blas/include/test_spmm.hpp
  tests/unit_tests/sparse_blas/include/test_spmv.hpp
  tests/unit_tests/sparse_blas/include/test_spsv.hpp
Owners: @oneapi-src/onemkl-sparse-write

[DFT] Reword comment
  src/dft/backends/mklgpu/commit.cpp
Owners: @oneapi-src/onemkl-dft-write

Rename variables that are not placeholder anymore
  src/sparse_blas/backends/cusparse/cusparse_task.hpp
Owners: @oneapi-src/onemkl-sparse-write

Update documentation
  _sources/building_the_project_with_dpcpp.rst
  _sources/domains/sparse_linear_algebra.rst
  building_the_project_with_dpcpp.html
  domains/sparse_linear_algebra.html
  index.html
  searchindex.js
Owners: none

[SPARSE] Turn matrix_view into an aggregate
  include/oneapi/mkl/sparse_blas/matrix_view.hpp
  tests/unit_tests/sparse_blas/include/test_spmv.hpp
  tests/unit_tests/sparse_blas/include/test_spsv.hpp
Owners: @oneapi-src/onemkl-sparse-write

Removed sycl::context* member and call to ContextSetExtendedDeleter. We don't need to do any early cleanup upon sycl context destruction.
  src/blas/backends/cublas/cublas_scope_handle.cpp
  src/blas/backends/cublas/cublas_scope_handle.hpp
Owners: @oneapi-src/onemkl-blas-write

Replaced type of cublas_handle map to CUcontext to remove UR dependency
  src/blas/backends/cublas/cublas_scope_handle.cpp
  src/blas/backends/cublas/cublas_scope_handle.hpp
  src/blas/backends/cublas/cublas_task.hpp
Owners: @oneapi-src/onemkl-blas-write

Changed handle_helper to have unordered_map of CUdevice(s) -> cublasHandle_t
  src/blas/backends/cublas/cublas_scope_handle.cpp
  src/blas/backends/cublas/cublas_scope_handle.hpp
Owners: @oneapi-src/onemkl-blas-write

Remove unnecessary includes
  src/blas/backends/cublas/cublas_scope_handle.cpp
  src/blas/backends/cublas/cublas_scope_handle.hpp
Owners: @oneapi-src/onemkl-blas-write

Removed checking if current Ctx is not Primary. It's always primary Ctx
  src/blas/backends/cublas/cublas_scope_handle.cpp
  src/blas/backends/cublas/cublas_scope_handle.hpp
Owners: @oneapi-src/onemkl-blas-write

[github] Uplift version of Intel oneMKL and icx used in CI to 2025.0.0
  .github/workflows/pr.yml
Owners: @oneapi-src/onemkl-arch-write

Revert "[github] Uplift version of Intel oneMKL and icx used in CI to 2025.0.0"
  .github/workflows/pr.yml
Owners: @oneapi-src/onemkl-arch-write

update oneapi to 2025
  .github/workflows/pr.yml
Owners: @oneapi-src/onemkl-arch-write

update
  .github/workflows/pr.yml
Owners: @oneapi-src/onemkl-arch-write

do not cancel after 1st job fails
  .github/workflows/pr.yml
Owners: @oneapi-src/onemkl-arch-write

review comments
  .github/workflows/pr.yml
Owners: @oneapi-src/onemkl-arch-write

[SPARSE] Add support for rocSPARSE backend
  CMakeLists.txt
  README.md
  cmake/FindCompiler.cmake
  docs/building_the_project_with_dpcpp.rst
  docs/domains/sparse_linear_algebra.rst
  examples/sparse_blas/run_time_dispatching/CMakeLists.txt
  include/oneapi/mkl/detail/backends.hpp
  include/oneapi/mkl/detail/backends_table.hpp
  include/oneapi/mkl/sparse_blas/detail/rocsparse/onemkl_sparse_blas_rocsparse.hpp
  include/oneapi/mkl/sparse_blas/detail/rocsparse/sparse_blas_ct.hpp
  src/CMakeLists.txt
  src/config.hpp.in
  src/sparse_blas/backends/CMakeLists.txt
  src/sparse_blas/backends/common_launch_task.hpp
  src/sparse_blas/backends/cusparse/operations/cusparse_spmm.cpp
  src/sparse_blas/backends/cusparse/operations/cusparse_spmv.cpp
  src/sparse_blas/backends/cusparse/operations/cusparse_spsv.cpp
  src/sparse_blas/backends/rocsparse/CMakeLists.txt
  src/sparse_blas/backends/rocsparse/operations/rocsparse_spmm.cpp
  src/sparse_blas/backends/rocsparse/operations/rocsparse_spmv.cpp
  src/sparse_blas/backends/rocsparse/operations/rocsparse_spsv.cpp
  src/sparse_blas/backends/rocsparse/rocsparse_error.hpp
  src/sparse_blas/backends/rocsparse/rocsparse_global_handle.hpp
  src/sparse_blas/backends/rocsparse/rocsparse_handles.cpp
  src/sparse_blas/backends/rocsparse/rocsparse_handles.hpp
  src/sparse_blas/backends/rocsparse/rocsparse_helper.hpp
  src/sparse_blas/backends/rocsparse/rocsparse_scope_handle.cpp
  src/sparse_blas/backends/rocsparse/rocsparse_scope_handle.hpp
  src/sparse_blas/backends/rocsparse/rocsparse_task.hpp
  src/sparse_blas/backends/rocsparse/rocsparse_wrappers.cpp
  tests/unit_tests/CMakeLists.txt
  tests/unit_tests/include/test_helper.hpp
  tests/unit_tests/main_test.cpp
  tests/unit_tests/sparse_blas/include/test_common.hpp
Owners: @oneapi-src/onemkl-arch-write, @oneapi-src/onemkl-sparse-write

make wget less verbose
  .github/workflows/pr.yml
Owners: @oneapi-src/onemkl-arch-write

[github] Update oneAPI to 2025 per rscohn2's changes
  .github/workflows/pr.yml
Owners: @oneapi-src/onemkl-arch-write

Update Supported Operating Systems in README.md
  README.md
Owners: @oneapi-src/onemkl-arch-write

[cmake] update MKLConfig to 2025.0 release
  cmake/mkl/MKLConfig.cmake
  cmake/mkl/MKLConfigVersion.cmake
Owners: @oneapi-src/onemkl-arch-write

Remove duplicated blas and lapack headers
  src/blas/backends/mkl_common/mkl_blas_backend.hpp
  src/blas/backends/mkl_common/mkl_blas_backend.hxx
  src/lapack/backends/mkl_common/mkl_lapack_backend.hpp
  src/lapack/backends/mklcpu/mkl_lapack.cpp
  src/lapack/backends/mklgpu/mkl_lapack.cpp
Owners: @oneapi-src/onemkl-blas-write, @oneapi-src/onemkl-lapack-write

the oneMath -> oneMath
  docs/building_the_project_with_dpcpp.rst
Owners: @oneapi-src/onemkl-arch-write

Rolled back to the version with unordered map but without contextSetExtendedDeleter
  src/blas/backends/cublas/cublas_handle.hpp
  src/blas/backends/cublas/cublas_scope_handle.cpp
  src/blas/backends/cublas/cublas_scope_handle.hpp
  src/blas/backends/cublas/cublas_scope_handle_hipsycl.cpp
  src/blas/backends/cublas/cublas_scope_handle_hipsycl.hpp
  src/blas/backends/cublas/cublas_task.hpp
Owners: @oneapi-src/onemkl-blas-write

We need to set the context properly before destroying cublasHandles
  src/blas/backends/cublas/cublas_handle.hpp
  src/blas/backends/cublas/cublas_scope_handle.cpp
  src/blas/backends/cublas/cublas_scope_handle.hpp
  src/blas/backends/cublas/cublas_scope_handle_hipsycl.cpp
  src/blas/backends/cublas/cublas_scope_handle_hipsycl.hpp
Owners: @oneapi-src/onemkl-blas-write

Fix compilation on Windows
  src/CMakeLists.txt
  src/blas/backends/mkl_common/mkl_blas_backend.hpp
  src/blas/backends/mklcpu/CMakeLists.txt
  src/blas/backends/mklgpu/CMakeLists.txt
  src/dft/backends/mklgpu/CMakeLists.txt
  src/dft/backends/mklgpu/backward.cpp
  src/dft/backends/mklgpu/commit.cpp
  src/dft/backends/mklgpu/forward.cpp
  src/dft/backends/mklgpu/mklgpu_helpers.hpp
  src/include/common_onemkl_conversion.hpp
  src/lapack/backends/mklcpu/CMakeLists.txt
  src/lapack/backends/mklcpu/mkl_lapack.cpp
  src/lapack/backends/mklgpu/CMakeLists.txt
  src/lapack/backends/mklgpu/mkl_lapack.cpp
  src/rng/backends/mklcpu/CMakeLists.txt
  src/rng/backends/mklgpu/CMakeLists.txt
  src/rng/backends/mklgpu/mrg32k3a.cpp
  src/rng/backends/mklgpu/onemkl_distribution_conversion.hpp
  src/rng/backends/mklgpu/philox4x32x10.cpp
  src/sparse_blas/backends/mkl_common/mkl_handles.hpp
  src/sparse_blas/backends/mklcpu/CMakeLists.txt
  src/sparse_blas/backends/mklgpu/CMakeLists.txt
Owners: @oneapi-src/onemkl-arch-write, @oneapi-src/onemkl-blas-write, @oneapi-src/onemkl-dft-write, @oneapi-src/onemkl-lapack-write, @oneapi-src/onemkl-rng-write, @oneapi-src/onemkl-sparse-write

[RNG]Fix warnings in device API and example
  examples/rng/device/CMakeLists.txt
  examples/rng/device/include/rng_example_helper.hpp
  examples/rng/device/uniform.cpp
  include/oneapi/mkl/rng/device/detail/beta_impl.hpp
  include/oneapi/mkl/rng/device/detail/uniform_impl.hpp
Owners: @oneapi-src/onemkl-rng-write

Add rocSPARSE product and version
  README.md
Owners: @oneapi-src/onemkl-arch-write

Add newline at end of file
  src/sparse_blas/backends/rocsparse/rocsparse_task.hpp
Owners: @oneapi-src/onemkl-sparse-write

Interface -> Interfaces
  README.md
Owners: @oneapi-src/onemkl-arch-write

Throw exceptions on unsorted CSR format + tests this
  examples/sparse_blas/run_time_dispatching/sparse_blas_spmv_usm.cpp
  src/sparse_blas/backends/rocsparse/rocsparse_handles.hpp
  tests/unit_tests/sparse_blas/include/test_common.hpp
Owners: @oneapi-src/onemkl-sparse-write

Avoid capture by reference
  src/sparse_blas/backends/rocsparse/operations/rocsparse_spmm.cpp
  src/sparse_blas/backends/rocsparse/operations/rocsparse_spmv.cpp
  src/sparse_blas/backends/rocsparse/operations/rocsparse_spsv.cpp
Owners: @oneapi-src/onemkl-sparse-write
